
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CFD8DC;
}
.upper-sec {
 background-color: #455A64;
 width:100%;
}
.upper-sec h1 {
  font-weight: 800;
  color: #fff;
}

.lower-sec {
  background-color: #CFD8DC;
}

img {
  width: 50px;
  height: 20px;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 14px;
}

form {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
/*  border-box keeps the box size the same as your set width 
  and hight regardless of padding margin bourder etc.*/
  padding: 20px 10px;
  height: 190px;
}

input{
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 400;
}

.button-add {
  color: white;
}

a {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #CFD8DC;
  padding: 20px 0px;
  display: block;
  width: 95%;
  margin: 0px auto;
  color: #607D8B;
  text-decoration: underline solid #f2f2f4;
}

a:hover {
  font-weight: 800;
  color: #455a54;
  text-decoration: underline solid #ffc107;
}

.pre-read {
  background-color: transparent;
  border: none;
  text-decoration: underline solid #f2f4f4;
}

.pre-read:hover {
  font-weight: 800;
  color: #455a54;
  text-decoration: underline solid #ffc107;
}

.read-button {
  float: left;
  margin: 5px 0px;
  color: #455A64;
  background-color: transparent;
  border: none;
  text-decoration: underline solid #f2f4f4;
}

.delete-button {
  float: right;
  margin: 5px 0px;
  color: #455A64;
  border: none;
  background-color: transparent;
  text-decoration: underline solid #f2f2f4;
}

.delete-button:hover {
  color: #455a54;
  text-decoration: underline solid #ffc107;
}

#title-input,
#url-input {
  padding-left: 5px;
}

#user-list {
  width: 100%;
}

div {
  width: 90%;
  border: solid 2px #607D8B;
  margin: 15px auto;
  padding: 5px 0px;
  height: 117px;
  background-color: white;
}

div.read {
  background-color: #f2f2f4;
}

button {
  float: left;
  margin: 5px 0px;
  color: #455A64;
}

.read {
/*  width: 90%;
  border: solid 2px #607D8B;
  margin: 15px auto;
  padding: 5px 0px;
  height: 117px;*/
}

.read-button {
  color: #F05A28;
}

li {
  list-style: none;
  display: block;
  font-weight: 800;
  color: #455A64;
  margin: 8px 7px;
  font-size: 1.3em;
}